.CarparkBookingPage {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(79deg, #7439db, #c66fbc 48%, #F79440);
}

.BookingPageHeader {
    width: 100%;
    height: 20%;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    display: flex;
    background-color: #7439db;
    flex-wrap: wrap;
}

.DateContainer {
    width: 33%;
    min-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ModeContainer {
    width: 33%;
    min-width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.UserInfoContainer {
    width: 33%;
    min-width: 300px;
}

.UserData {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.NameAndSurname {
    display: inline-block;
}
.Username {
    display: inline-block;
}

.WeekdayButtonSelected {
    border: 3px solid black;
}

.AdministrationButton {
    border: 3px solid black;
}

.BookingModeContainer {
    width: 50%;
    text-align:center;
}

.AdministrationModeContainer {
    width: 50%;
    text-align:center;
}

.ModeButton {
    margin:auto;
}