.StartPage {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(79deg, #7439db, #c66fbc 48%, #F79440);
}

.coverLogin {
    width: 30em;
    height: 26em;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-around;
    border-radius: 1px;
    border: white;
}

.title {
    text-align: center;
}